<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{TITLE}}</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
  <header>
    <h1>Bonjour</h1>
    <nav>
	<ul>
            <a href="pages/index.html" > accueil</a></li>
            <a href="pages/page_projets.html" > projets</a></li>
            <a href="pages/page_CV.html" > CV</a></li>
            <a href="pages/page_liens.html" > liens </a></li>            
	</ul>
    </nav>
  </header>
  </body>
  <main>
